h1 {
    size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: black 0px 0px 10px;
    width: auto;
    
}

a {
    color: black;
}

img {
    display: block;
    border-radius: 80px;
    size: 200px;
}